$color-background: #202020;
$color-background-light: #2f3029;
$color-background-very-light: #6a6b62;

$color-christmas-red: #b73a3b;
$color-christmas-red-dark: #9c2826;

$color-christmas-green: #b8c7b0;
$color-christmas-green-dark: #93a991;

$color-christmas-yellow: #f6eed7;
$color-christmas-yellow-dark: #e5c49d;

$color-white: #f6edd9;
$color-white-dark: #aeaeae;

$color-gold: #f9ca24;
$color-silver: #c7ecee;
$color-bronze: #e55039;
